/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    text-decoration: none;
}

:root {
    /*Theme colors*/
    --color-brown: #6F4E37;
    --color-purple: #9c6af1;
    --color-lilac: #E2D9F3;
    --color-offwhite: #F7F5F2;
    --color-offwhiteplus: #F2EFE9;
    --color-offwhiteplus-contrast: #CFCFCF;
    --color-darkgray: #1E1E1E;

    --color-blur: ;

    /* Elements */
    --color-background: ;
    --color-primary: ;
    --color-secondary: ;
    --color-base-text: ;
    --color-contrast-text: ;
    --color-contrast: ;

    /* Typography */
    --font-base: Poppins, system-ui, sans-serif;
    --font-mono: ui-monospace, monospace;

    --font-w-600: 600;

    /* Spacing */
    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 2rem;
    --space-4: 4rem;

    /* Radius */
    --radius-sm: 6px;
    --radius-md: 12px;
    --radius-x: 16px;
    --radius-xl: 24px;

    /* Shadow */
    --shadow-sm: ;
    --shadow-md: ;
}

:root[data-theme="light"] {
    --color-background: var(--color-offwhite);
    --color-primary: var(--color-lilac);
    --color-secondary: var(--color-purple);

    --color-base-text: var(--color-offwhite);
    --color-contrast-text: var(--color-darkgray);

    --color-contrast: var(--color-offwhiteplus);
    --color-contrast-contrast: var(--color-offwhiteplus-contrast);

    --color-btn-text: var(--color-darkgray);

    --color-blur: rgba(255, 255, 255, 0.5);

    --shadow-sm: 0 8px 24px rgba(0, 0, 0, 0.08);
    --shadow-md: 0 8px 24px rgba(0, 0, 0, 0.16);
}

:root[data-theme="dark"] {
    --color-background: var(--color-darkgray);
    --color-primary: var(--color-lilac);
    --color-secondary: var(--color-purple);
    --color-base-text: var(--color-offwhite);
    --color-contrast-text: var(--color-offwhite);
    --color-btn-text: var(--color-darkgray);

    --color-blur: rgba(0, 0, 0, 0.1);

    --shadow-sm: 0 4px 20px rgba(0, 0, 0, 0.4);
    --shadow-md: 0 4px 20px rgba(0, 0, 0, 0.8);
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: var(--font-base);
    background: var(--color-background);
    color: var(--color-contrast-text);
    line-height: 1.6;
    transition: 0.3s ease, color 0.3s ease;
}
