/* card */
.card-container {
  display: grid;
  gap: var(--space-3);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.card-container>* {
  min-width: 0;
}

.card-title {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-2);

  padding: var(--space-3);
  border: 0px solid var(--color-contrast-text);
  border-radius: var(--radius-xl);

  box-shadow: var(--shadow-md);
}

/* button */
.btn {
  width: fit-content;
  padding: var(--space-1) var(--space-2);
  border-radius: var(--radius-sm);
  border: none;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  transition: 0.3s ease, transform 0.2s ease;
  box-shadow: var(--shadow-sm);
}

.btn--primary {
  background: var(--color-primary);
  color: var(--color-btn-text);
}

.btn--primary:hover {
  background: var(--color-secondary);
  color: var(--color-base-text);
}

/* images */
.img-300 {
  max-width: 300px;
}

/* icon */
.icon {
  border: none;
  background-color: transparent;
}

.icon-sm {
  max-width: 1rem;
}

.icon-md {
  max-width: 1.5rem;
}

.icon-x {
  max-width: 2rem;
}

.icon-card-bg {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 3rem;
  padding: var(--space-1);

  background-color: var(--color-lilac);
  border-radius: var(--radius-sm);

  transition: 0.3s ease, transform 0.2s ease;
}

.split-card:hover .icon-card-bg {
  background-color: #dcc7ff;
}

/* emphasis card */
.emphasis-card {
  background-color: var(--color-contrast);
  border: 1.1px solid var(--color-contrast-contrast);
  border-radius: var(--radius-x);
  box-shadow: var(--shadow-sm);
  transition: 0.3s ease, transform 0.2s ease;
}

.project-tag {
  width: fit-content;
  padding: var(--space-1) var(--space-2);
  border-radius: var(--radius-xl);
  background-color: var(--color-lilac);
}