.container {
  max-width: 1300px;
  margin-inline: auto;
  padding: var(--space-4) var(--space-2);
}

.flex-row-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-1);
}

.section {
  /* margin-bottom: var(--space-4); */
}

.split {
  display: grid;
  gap: var(--space-3);
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.split>* {
  min-width: 0;
}

.split--content-img {
  grid-template-areas: "content media";
}

.split--img-content {
  grid-template-areas: "media content";
}

.split-cards-container {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.split-cards {
  display: grid;
  gap: var(--space-3);
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  align-items: stretch;
}

.split-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--space-1);
  padding: var(--space-2);
}

.split-card:hover {
  border: 1px solid var(--color-purple);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;

  grid-area: content;
}

.split-projects-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  align-items: stretch;
  gap: var(--space-3);
}

.container-content-project {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding: var(--space-3);
}

.content-project {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.container-content-project:hover {
  border: 1px solid var(--color-purple);
}

.project-tag-container {
  margin-top: 12px;
}

.media {
  grid-area: media;
}

.media img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

@media (max-width: 1024px) {
  .split-cards-container {
    display: flex;
    flex-direction: column;
  }

  .split-cards-container>.content {
    gap: 8px;
  }

  .split-cards {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .container {
    padding: var(--space-3) var(--space-2);
  }

  .split {
    grid-template-columns: 1fr;
  }

  .split--content-img {
    grid-template-areas: "content" "media";
  }

  .split--img-content {
    grid-template-areas: "content" "media";
  }

  .split-cards-container {
    display: flex;
    flex-direction: column;
  }

  .split-cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .split-projects-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .container-content-project {
    padding: 16px;
  }

  .project-tag-container {
    font-size: 12px;
  }

  .mobile-div-buttons {
    display: flex;
    justify-content: center;
  }
}