h1, h2, h3 {
  line-height: 1.2;
}

h1, .title {
  font-family: 'DM Serif Display';
  font-weight: 300;
  font-size: 3rem;
}

h2, .sub-title {
  letter-spacing: 2px;
  font-size: 1rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  max-width: 60ch;

  color: var(--color-contrast-text);
}

.project-title {
  font-family: 'DM Serif Display';
  letter-spacing: 2px;
  font-size: 3rem;
  line-height: 1;
}

.sub-title {
  color: var(--color-secondary);
  text-transform: uppercase;
}

.emphasis {
  font-size: 0.8rem;
  font-weight: 700;
}

/* Customs */

.split-card-p {
  font-size: 0.8rem;
}