h1, h2, h3 {
  line-height: 1.2;
}

h1, .title {
  font-family: 'DM Serif Display';
  font-weight: 300;
  font-size: 3rem;
}

h2, .sub-title {
  letter-spacing: 2px;
  font-size: 1rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  max-width: 60ch;

  color: var(--color-base-text);
}

.project-title {
  font-family: 'DM Serif Display';
  letter-spacing: 2px;
  font-size: 3rem;
  line-height: 1;

  color: var(--project-title);
}

.title {
}

.sub-title {
  color: var(--color-secondary);
  text-transform: uppercase;
}

.emphasis {
  font-size: 1rem;
  font-weight: 600;
}

.color-emphasis {
  font-style: italic;
  color: var(--color-purple-plus);
}

/* Customs */

.split-card-p {
  font-size: 0.9rem;
}

.center-text {
  text-align: center;
}

@media (max-width: 768px) {
  :root p {
    font-size: 14px;
  }

  
}