h1, h2, h3 {
  line-height: 1.2;
}

h1, .title {
  font-family: 'DM Serif Display';
  font-weight: 300;
  font-size: 3rem;
}

h2, .sub-title {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  max-width: 60ch;

  color: var(--color-contrast-text);
}

.sub-title {
  color: var(--color-secondary);
  text-transform: uppercase;
}