.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: var(--color-blur);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow: var(--shadow-sm);
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 1.5rem 0rem;

    border-bottom: 1px solid var(--color-secondary);
}

.name-title {
    font-size: 2rem;
    font-weight: var(--font-w-600);
    color: var(--color-contrast-text);
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--space-2);
}

.nav-container a {
    font-size: 1.3rem;
    color: var(--color-contrast-text);
}

@media (max-width: 768px) {
    .header, .nav {
        max-width: 100vw;
    }
}