.mobile-menu-btn {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  flex-direction: column;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  transition: 0.3s;
}

.impact-phrase-desktop {
  display: block;
  font-size: 16px;
}

.impact-phrase-mobile {
  display: none;
  font-size: 12px;
}

.impact-phrase-desktop, .impact-phrase-mobile {
  font-family: 'DM Serif Display';
  font-weight: 300;
  font-style: italic;

  text-align: center;

  letter-spacing: 3px;
}

@media (max-width: 768px) {
  .mobile-menu-btn {
    display: flex;
    z-index: 10;
  }

  .nav-container {
    position: fixed;
    top: 0;
    right: 0;

    width: 70%;
    height: 100vh;

    background-color: var(--color-background);

    /* hide */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    /* Estado inicial */
    transform: translateX(100%);
    transition: transform 0.35s ease;
    
    will-change: transform; /* melhora performance */
    z-index: 9;
  }

  .nav-container.active {
    /* display */
    /* display: flex; */
    transform: translateX(0);
  }

  .divider {
    display: none;
  }

  .impact-phrase-desktop {
    display: none;
  }

  .impact-phrase-mobile {
    display: block;
  }
}