/* Estilos básicos para o botão hambúrguer (escondido no desktop) */
.mobile-menu-btn {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    flex-direction: column;
    gap: 5px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .mobile-menu-btn {
        display: flex;
        z-index: 10;
    }

    .nav-container {
        position: fixed;
        top: 0;
        right: -100%; /* Came from the rigth */
        width: 70%;
        height: 100vh;
        background-color: var(--color-background);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        box-shadow: -2px 0 5px rgba(0,0,0,0.1);
        gap: 20px;
    }

    .btn--small {
        max-width: 100%;
    }

    .nav-container.active {
        right: 0; /* show menu */
    }

    .divider {
        display: none; /* hide diviser*/
    }
}