@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(./css/theme/base.css);
@import url(./css/theme/layout.css);
@import url(./css/theme/typography.css);
@import url(./css/theme/components.css);
@import url(./css/theme/theme.css);

/* helpers */
@import url(./css/theme/helpers-elements.css);
@import url(./css/theme/helpers-styles.css);

@import url(./css/header.css);
@import url(./css/main.css);
@import url(./css/footer.css);
@import url(./css/mobile.css);
@import url(./css/carousel.css);
